$gray : #2a2727;

$red: #e73631;
$pink :#db4880;
$green: #43c79c;
$blue: #419bce;
$aqua: #0ac7c5;
$yew: #efaf16;
$orange: #e45e2d;

$regular: Myriad Pro Regular;
$condensed: Myriad Pro Condensed;
$semiboldItalic: Myriad Pro Semibold Italic;
$semibold: Myriad Pro Semibold;
$condensedItalic: Myriad Pro Condensed Italic;
$boldItalic: Myriad Pro Bold Italic;
$boldCondensedItalic: Myriad Pro Bold Condensed Italic;
$boldCondensed: Myriad Pro Bold Condensed;
$boldCondensed: Myriad Pro Bold Condensed;
$Bold: Myriad Pro Bold;
